header {
  background-color: #b00000;
  font-family: arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: arial, sans-serif;
}

p {
  font-family: arial, sans-serif;
}

ul > li {
  display: inline;
  padding-right: 24px;
  padding-bottom: 24px;
  font-size: 24px;
  list-style-position: outside;
}

footer {
  background-color: #b00000;
  font-family: arial, sans-serif;
  text-align: center;
}

body {
  background-color: grey;
  text-align: center;
}
