body
{
  background-color: #a1a7ab;
  text-align: center;
  padding: 0;
  margin: 0;
}

header
{
  background-color: #3281a8;
  font-family: arial, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

header h1
{
  font-size: 3rem;
}

header nav ol
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  list-style-type: none;
  padding-right: 1.5em;
}

header nav
{
  display: grid;
  align-self: center;
  font-size: 24px;
  font-family: arial, sans-serif;
  text-align: center;
  background-color: #32a8a8;
}

#main
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-self: center;
}

h2
{
  font-family: arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}

a:visited
{
  color: purple;
}

a:link
{
  color: blue;
}

a:hover
{
  color: green;
}

p
{
  font-family: arial, sans-serif;
}

.pbox1
{
  border: 1px solid black;
  margin-bottom: 1em;
}

.pbox2
{
  border: 1px solid black;
}

.vbox1
{
  border: 1px solid black;
  margin-bottom: 1em;
  width: 75vw;
}

.vbox2
{
  border: 1px solid black;
  width: 75vw;
}

footer
{
  display: grid;
  background-color: #3281a8;
  font-family: arial, sans-serif;
  text-align: center;
  align-self: stretch;
}

footer nav
{
  background-color: #32a8a8;
  font-size: 24px;
  font-family: arial, sans-serif;
}

footer nav ol
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-self: center;
  text-align: center;
  margin-top: -0.33em;
  margin-right: 1.75em;
  list-style-type: none;
}
