header {
  background-color: #b00000;
  font-family: arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: arial, sans-serif;
}

p {
  font-family: arial, sans-serif;
}

ul {
  list-style-type: none;
  padding-right: 4em;
  margin: 0;
}

li {
  display: inline;
  margin-left: 1em;
  font-size: 24px;
  list-style-position: outside;
  background-image: url('burns25.jpg');
  background-repeat: no-repeat;
  background-position: 1px;
  padding-left: 24px;
}

footer {
  background-color: #b00000;
  font-family: arial, sans-serif;
  text-align: center;
}

body {
  background-color: grey;
  text-align: center;
}
