header {
  background-color: #b00000;
  font-family: arial, sans-serif;
}

h1 {

}

h2 {
  font-family: arial, sans-serif;
}

p {
  font-family: arial, sans-serif;
}

ul {

}

li {

}

footer {
  background-color: #b00000;
  font-family: arial, sans-serif;
}

body {
  background-color: grey;
}
